@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&family=Tilt+Prism&display=swap');

body {
  background-image: url('https://img.freepik.com/free-vector/3d-style-black-background-with-paper-layer_206725-669.jpg?size=626&ext=jpg');
}

h1 {
  font-family: 'Lato', sans-serif;
  color: aliceblue;
}

p2 {
  color: aliceblue;



}

p1 {
  color: aliceblue;

}

img{
  height: 200px;
  animation: rotation 8s infinite linear;
}



img:hover {
  height: 200px;
  animation: shake 0.5s;
  animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


#img {
  width: 200px;
  height: 200px;
  animation: colorChange 1s infinite alternate; /* Apply the animation */
}

@keyframes colorChange {
  0% { filter: hue-rotate(0deg); } /* Start with no hue rotation */
  100% { filter: hue-rotate(360deg); } /* Rotate through all hues */
}

